.App {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #247ba0;
  color: white;
  padding: 1px 50px; 
}
header .btn{
  float: right;
  margin-top:8px; 
  background-color: #ffe066 ;
}
header .btn:hover{
  background-color: #70c1b3; 
}
nav{
  background-color: #ffe066;
}
nav ul{
  margin-left: 34px;
}

nav ul li:hover{
  background-color: #247ba0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

