@import url("https://fonts.googleapis.com/css?family=Charm:700|Kaushan+Script&display=swap");

.login_form {
  border: 2px solid black;
  height: 100%;
}
.form {
  margin-top: 50px;
  background: white;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 10px;
}

.form_footer {
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .footer {
  }
}

.App {
  margin: 75px 0 0 0;
}

.App-header {
  background-color: #205792;
  color: white;
  box-shadow: 5px 2px 6px 5px #053c5e;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.App-header img {
  width: 50px;
}
.navbar-brand {
  font-family: "Charm", cursive;
  font-size: 30px;
}
.dropdown {
  cursor: pointer;
}
.buttonLink {
  color: white;
  text-decoration: none;
}
.home_background {
  background: #205792;
  position: relative;
}

.home_bacground_over {
  color: black;
  font-size: 26px;
  background: rgba(225, 225, 225, 0.8);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menuList {
  text-align: center;
  padding: 0 50px;
}
.item-card img {
  width: 100%;
}
.item-card .price {
  font-size: 22px;
}
.item-card {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 1%;
  float: left;
  margin: 1%;
  text-align: center;
  font-family: arial;
  background: white;
  cursor: pointer;
}
.admin-item {
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  background: white;
  cursor: pointer;
}
.product-item {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 5%;
  margin: 1%;
  font-family: arial;
  cursor: pointer;
  background: white;
  width: 100%;
}
.product-item img {
  height: 75%;
  width: 75%;
}
.product-item-info {
  text-align: left;
}
.product-item p {
  margin: 5px;
}
.details-container {
  font-size: 20px;
}
.details-container img {
  height: 300px;
}
.details-container .para {
  padding: 10px;
}
.details-container .price {
  font-weight: bolder;
}

.editform,
.cart_price_details {
  margin: 5px auto;
  padding: 2.5%;
  border-radius: 10px;
  text-align: left;
}
.align-right {
  float: right;
}
.align-left {
  float: left;
}
.payment .nav a {
  background-color: #f5f5f5;
  cursor: pointer;
  font-weight: bold;
  color: black;
  border-bottom: 0.5px solid lightgrey;
  padding: 15px;
}
.payment .nav /*.active */a:hover {
  background: #cfecf7;
  border-left: 5px solid #1c96c5;
  color: black;
}

.paymentmode {
}
.payment .col-3 {
  margin: 0;
  padding: 0;
}
.payment .row {
  background: #f5f5f5;
}
.login_page img {
  width: 100%;
}
#LoginForm .modal-content {
  background: #f5f5f5;
}
#added_popup .modal-content {
  background: #f5f5f5;
  color: black;
  padding: 0px;
  margin: 0px;
  height: 150px;
  padding-top: 50px;
}

.product_form {
  margin: 0 25%;
}
.FeedbackItem {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 1%;
  font-family: arial;
  background: white;
  cursor: pointer;
}

.OrderItem {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 1%;
  font-family: arial;
  background: white;
  cursor: pointer;
  overflow: hidden;
}
.footer {
  background: #181818;
  color: white;
  width: 100%;
  bottom: 0;
}
.animated {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}
