.App {
  margin: 0;
}
.App-header {
  background-color:#1c96c5;
  color: white;
  text-align: center;
  padding: 1px 50px; 
}
.dropdown{
  cursor: pointer;
}
.buttonLink{
  color: white;
  text-decoration: none;
}
.menuList {
  text-align: center;
  margin:0 50px;
}
.item-card img{
  width: 100%;
}
.item-card .price{
  font-size: 22px ;
}
.item-card{
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 250px;
  padding: 1%;
  float: left;
  margin: 1%;
  text-align: center;
  font-family: arial;
  background: white;
  cursor: pointer;
}
.details-container{
  padding:20px 10%;
  font-size: 20px;
  text-align: center;
}
.details-container img{
  height: 300px;
}
.details-container .para{
  padding: 10px; 
}
.details-container .price{
  font-weight: bolder;
}
.name{
  text-align: center;
}
.editform, .cart_price_details{
  margin:25px auto;
  padding: 2.5%;
  border-radius: 10px;
  text-align:left;
}
.align-right{
  float: right;
}
.align-left{
  float: left;
}
.payment .nav a{
  background-color: #F5F5F5;
  cursor: pointer;
  font-weight: bold;
  color: black;
  border-bottom: 0.5px solid lightgrey;
  padding: 15px;
}
.payment .nav /*.active */a:hover{
  background:#cfecf7;
  border-left: 5px solid  #1c96c5;
  color : black;
}

.paymentmode{

}
.payment .col-3{
  margin: 0;
  padding:0;
}
.payment .row{
  background: #F5F5F5;
}